DATA WRAPPING

1 DESCUBRIMIENTO

In [2]:
import pandas as pd

In [3]:
tmdb=pd.read_csv('TMDB_tv_dataset_v3.csv',index_col='id')
ori=tmdb.copy()

Partimos con un analisis de los datos extraidos:<br> Observamos la cantidad de datos <br> tipos de datos <br>cantidades de nulos

In [4]:
tmdb.head()

,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,first_air_date,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
id,,,,,,,,,,,,,,,,,,,,,
1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,2011-04-17,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,2017-05-02,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,2016-07-15,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,2010-10-31,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,2016-01-25,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [5]:
tmdb.shape

(168639, 28)

In [6]:
tmdb.columns

Index(['name', 'number_of_seasons', 'number_of_episodes', 'original_language',
       'vote_count', 'vote_average', 'overview', 'adult', 'backdrop_path',
       'first_air_date', 'last_air_date', 'homepage', 'in_production',
       'original_name', 'popularity', 'poster_path', 'type', 'status',
       'tagline', 'genres', 'created_by', 'languages', 'networks',
       'origin_country', 'spoken_languages', 'production_companies',
       'production_countries', 'episode_run_time'],
      dtype='object')

In [7]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168639 entries, 1399 to 237566
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   name                  168634 non-null  object
 1   number_of_seasons     168639 non-null  int64
 2   number_of_episodes    168639 non-null  int64
 3   original_language     168639 non-null  object
 4   vote_count            168639 non-null  int64
 5   vote_average          168639 non-null  float64
 6   overview              93333 non-null   object
 7   adult                 168639 non-null  bool
 8   backdrop_path         77780 non-null   object
 9   first_air_date        136903 non-null  object
 10  last_air_date         138735 non-null  object
 11  homepage              50998 non-null   object
 12  in_production         168639 non-null  bool
 13  original_name         168634 non-null  object
 14  popularity            168639 non-null  float64
 15  poster_path           108737 non-null  object
 16  type                  168639 non-null  object
 17  status                168639 non-null  object
 18  tagline               5330 non-null    object
 19  genres                99713 non-null   object
 20  created_by            36496 non-null   object
 21  languages             110050 non-null  object
 22  networks              97589 non-null   object
 23  origin_country        137609 non-null  object
 24  spoken_languages      109280 non-null  object
 25  production_companies  59342 non-null   object
 26  production_countries  77511 non-null   object
 27  episode_run_time      168639 non-null  int64
dtypes: bool(2), float64(2), int64(4), object(20)
memory usage: 35.1+ MB

In [8]:
tmdb.describe()

,number_of_seasons,number_of_episodes,vote_count,vote_average,popularity,episode_run_time
count,168639.000000,168639.000000,168639.000000,168639.000000,168639.000000,168639.000000
mean,1.548497,24.465082,13.305054,2.333843,5.882644,22.603348
std,2.942872,134.799622,190.809059,3.454334,42.023216,47.950427
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,0.600000,0.000000
50%,1.000000,6.000000,0.000000,0.000000,0.857000,0.000000
75%,1.000000,20.000000,1.000000,6.000000,2.431500,42.000000
max,240.000000,20839.000000,21857.000000,10.000000,3707.008000,6032.000000

In [9]:
datos_null=tmdb.isnull().sum()
datos_null

name                         5
number_of_seasons            0
number_of_episodes           0
original_language            0
vote_count                   0
vote_average                 0
overview                 75306
adult                        0
backdrop_path            90859
first_air_date           31736
last_air_date            29904
homepage                117641
in_production                0
original_name                5
popularity                   0
poster_path              59902
type                         0
status                       0
tagline                 163309
genres                   68926
created_by              132143
languages                58589
networks                 71050
origin_country           31030
spoken_languages         59359
production_companies    109297
production_countries     91128
episode_run_time             0
dtype: int64

Podemos observar que las siguientes columnas corresponden a arrays de string: networks,languages,created_by,genres,origin_country,spoken_languages,production_companies,production_countries

In [10]:
tmdb['genres'].value_counts()

genres
Documentary                                                                     17596
Drama                                                                           16282
Comedy                                                                          10304
Reality                                                                          8009
Animation                                                                        3326
                                                                                ...
Action & Adventure, Animation, Crime                                                1
Animation, Action & Adventure, Comedy, Drama, Family, Kids, Sci-Fi & Fantasy        1
Animation, Action & Adventure, Comedy, Action & Adventure, Sci-Fi & Fantasy         1
Sci-Fi & Fantasy, Comedy, Reality, Action & Adventure                               1
Comedy, Documentary, Sci-Fi & Fantasy, Mystery                                      1
Name: count, Length: 2228, dtype: int64

In [11]:
tmdb['origin_country'].value_counts()

origin_country
US                    28759
JP                    13658
GB                    13298
CN                    11651
DE                     6607
                      ...
GB, IN                    1
TH, GB                    1
DK, TH                    1
DE, FR, IT, AT, ES        1
DZ, MA, TN                1
Name: count, Length: 792, dtype: int64

In [12]:
tmdb['created_by'].value_counts()

created_by
Shotaro Ishinomori                    107
John de Mol                            65
Adrián Suar                            64
Simon Fuller                           48
Ekta Kapoor                            46
                                     ...
張世昌                                     1
Ken Cameron, Ian Barry, Shawn Seet      1
Manoel de Oliveira                      1
Manabu Asô                              1
TJ Tommys                               1
Name: count, Length: 26081, dtype: int64

2 Estructuracion

En primer lugar se renombran las columnas en terminos mas simples

In [13]:
nombres_columnas= {
'name':"Nombre_Serie",
'number_of_seasons':"#_Temporadas",
'number_of_episodes':"#_Episodios",
'original_language':"Idioma_original",
'vote_count':"Votos_Totales",
'vote_average':"Voto_promedio",
'overview':"Resumen",
'adult':"Categoria_Adulto",
'backdrop_path':"url_Imagen",
'first_air_date':"Fecha_Inicio",
'last_air_date':"Fecha_Fin",
'homepage':"Pagina",
'in_production':"En_Produccion",
'original_name':"Nombre_Original",
'popularity':"Popularidad",
'poster_path':"url_Poster",
'type':"Tipo_Show",
'status':"Status",
'tagline':"Frase",
'genres':"Generos",
'created_by':"Creador",
'languages':"Idiomas",
'networks':"Canales",
'origin_country':"Pais_Origen",
'spoken_languages':"Idiomas_hablados",
'production_companies':"Companias_Produccion",
'production_countries':"Paises_Produccion",
'episode_run_time':"Duracion_episodio"}

tmdb.rename(columns=nombres_columnas,inplace=True)

a continuacion se eliminaran las columnas que no entregan informacion relevante

In [14]:
tmdb=tmdb.drop(columns=['Resumen','url_Imagen','url_Poster','Frase','Pagina'])

3 LIMPIEZA

In [15]:
datos_null=tmdb.isnull().sum()
datos_null

Nombre_Serie                 5
#_Temporadas                 0
#_Episodios                  0
Idioma_original              0
Votos_Totales                0
Voto_promedio                0
Categoria_Adulto             0
Fecha_Inicio             31736
Fecha_Fin                29904
En_Produccion                0
Nombre_Original              5
Popularidad                  0
Tipo_Show                    0
Status                       0
Generos                  68926
Creador                 132143
Idiomas                  58589
Canales                  71050
Pais_Origen              31030
Idiomas_hablados         59359
Companias_Produccion    109297
Paises_Produccion        91128
Duracion_episodio            0
dtype: int64

A continuacion se detalla el tratamiento de los datos nulos <br> 1- se eliminan las filas que no tengan fechas de inicio y fecha final<br>2-se rellenan las columnas como generos, creador con sin informacion

In [16]:
tmdb=tmdb.dropna(subset=['Fecha_Inicio','Fecha_Fin'])
datos_null=tmdb.isnull().sum()
datos_null

Nombre_Serie                 3
#_Temporadas                 0
#_Episodios                  0
Idioma_original              0
Votos_Totales                0
Voto_promedio                0
Categoria_Adulto             0
Fecha_Inicio                 0
Fecha_Fin                    0
En_Produccion                0
Nombre_Original              3
Popularidad                  0
Tipo_Show                    0
Status                       0
Generos                  44213
Creador                 102194
Idiomas                  37034
Canales                  48228
Pais_Origen              17631
Idiomas_hablados         37743
Companias_Produccion     79519
Paises_Produccion        61810
Duracion_episodio            0
dtype: int64

In [17]:
columnas= ['Generos','Creador','Idiomas','Canales','Pais_Origen','Idiomas_hablados','Companias_Produccion','Paises_Produccion']
for c in columnas:
    tmdb[c]=tmdb[c].fillna('sin informacion')

In [18]:
datos_null=tmdb.isnull().sum()
datos_null

Nombre_Serie            3
#_Temporadas            0
#_Episodios             0
Idioma_original         0
Votos_Totales           0
Voto_promedio           0
Categoria_Adulto        0
Fecha_Inicio            0
Fecha_Fin               0
En_Produccion           0
Nombre_Original         3
Popularidad             0
Tipo_Show               0
Status                  0
Generos                 0
Creador                 0
Idiomas                 0
Canales                 0
Pais_Origen             0
Idiomas_hablados        0
Companias_Produccion    0
Paises_Produccion       0
Duracion_episodio       0
dtype: int64

Por ultimo eliminamos las 3 que no poseen mombre

In [19]:
tmdb=tmdb.dropna(subset=['Nombre_Serie','Nombre_Original'])

In [20]:
datos_f=tmdb.shape[0]
datos_i=ori.shape[0]
print(datos_f/datos_i)

0.8053060086931255

Finalmente observamos que seguimos con el 80% de los datos originales

ENRIQUECIMIENTO

En primer lugar, para cada columna que es un array de string generaremos un campo que muestra la cantidad del array.<br>
por ejemplo en la columna genero si el valor es "Action & Adventure, Animation, Crime" el valor en la columna cantidad de generos sera 3

In [21]:
columnas_array=["Generos","Idioma_original","Creador","Idiomas","Canales","Idiomas_hablados","Companias_Produccion","Paises_Produccion"]
def contar(col):
    if col=='sin informacion':
        return 0
    else:
        return col.count(',')+1
    
for c in columnas_array:
    nombre_col="num_"+c
    tmdb[nombre_col]=tmdb[c].apply(contar)

In [22]:
tmdb.head()

,Nombre_Serie,#_Temporadas,#_Episodios,Idioma_original,Votos_Totales,Voto_promedio,Categoria_Adulto,Fecha_Inicio,Fecha_Fin,En_Produccion,...,Paises_Produccion,Duracion_episodio,num_Generos,num_Idioma_original,num_Creador,num_Idiomas,num_Canales,num_Idiomas_hablados,num_Companias_Produccion,num_Paises_Produccion
id,,,,,,,,,,,,,,,,,,,,,
1399,Game of Thrones,8,73,en,21857,8.442,False,2011-04-17,2019-05-19,False,...,"United Kingdom, United States of America",0,3,1,2,1,1,1,4,2
71446,Money Heist,3,41,es,17836,8.257,False,2017-05-02,2021-12-03,False,...,Spain,70,2,1,1,1,2,1,1,1
66732,Stranger Things,4,34,en,16161,8.624,False,2016-07-15,2022-07-01,True,...,United States of America,0,3,1,2,1,1,1,2,1
1402,The Walking Dead,11,177,en,15432,8.121,False,2010-10-31,2022-11-20,False,...,United States of America,42,3,1,1,1,1,1,6,1
63174,Lucifer,6,93,en,13870,8.486,False,2016-01-25,2021-09-10,False,...,United States of America,45,2,1,1,1,2,1,4,1

A continuacion se expandira la informacion de las fechas

In [23]:
tmdb['Fecha_Inicio']= pd.to_datetime(tmdb['Fecha_Inicio'])
tmdb['Mes_I']= tmdb['Fecha_Inicio'].dt.month
tmdb['estacion_I']=tmdb['Mes_I']%4
tmdb['estacion_I_n']= tmdb['estacion_I'].map({0:'primavera',1:'verano',2:'otoño',3:'invierno'})
tmdb['anho_I']= tmdb['Fecha_Inicio'].dt.year

tmdb['Fecha_Fin']= pd.to_datetime(tmdb['Fecha_Fin'])
tmdb['Mes_F']= tmdb['Fecha_Fin'].dt.month
tmdb['estacion_F']=tmdb['Mes_F']%4
tmdb['estacion_F_n']= tmdb['estacion_F'].map({0:'primavera',1:'verano',2:'otoño',3:'invierno'})
tmdb['anho_F']= tmdb['Fecha_Fin'].dt.year

Por ultimo se crearan tablas auxiliares asociadas a las columnas de array

In [41]:

def expand_array(df,column):

    df_aux=df[[column]].copy()
    df_aux["id"]=df_aux.index


    new_df=pd.DataFrame({'id_show' : [],column:[]})
    for index, row in df_aux.iterrows():
        aux_id=row['id']
        aux_column=row[column]
        list_column=aux_column.split(",")
        for i in list_column:
            new_row=pd.DataFrame([{'id_show':aux_id,column:i}])
            new_df=pd.concat([new_df,new_row],ignore_index=True)
    return new_df

def create_csv(df,column):
    name=column+".csv"
    df.to_csv(name,index=False)

In [30]:
columnas_array=["Generos","Idioma_original","Creador","Idiomas","Canales","Idiomas_hablados","Companias_Produccion","Paises_Produccion"]

df_columnas={}

for c in columnas_array:
    newdf=expand_array(tmdb,c)
    df_columnas[c]=newdf

In [42]:
x=0
for d in df_columnas:
    print(d)
    column =columnas_array[x]
    create_csv(df_columnas[d],column)
    x+=1

Generos
Idioma_original
Creador
Idiomas
Canales
Idiomas_hablados
Companias_Produccion
Paises_Produccion

In [43]:
tmdb.drop(columns=columnas_array)

,Nombre_Serie,#_Temporadas,#_Episodios,Votos_Totales,Voto_promedio,Categoria_Adulto,Fecha_Inicio,Fecha_Fin,En_Produccion,Nombre_Original,...,num_Companias_Produccion,num_Paises_Produccion,Mes_I,estacion_I,estacion_I_n,anho_I,Mes_F,estacion_F,estacion_F_n,anho_F
id,,,,,,,,,,,,,,,,,,,,,
1399,Game of Thrones,8,73,21857,8.442,False,2011-04-17,2019-05-19,False,Game of Thrones,...,4,2,4,0,primavera,2011,5,1,verano,2019
71446,Money Heist,3,41,17836,8.257,False,2017-05-02,2021-12-03,False,La Casa de Papel,...,1,1,5,1,verano,2017,12,0,primavera,2021
66732,Stranger Things,4,34,16161,8.624,False,2016-07-15,2022-07-01,True,Stranger Things,...,2,1,7,3,invierno,2016,7,3,invierno,2022
1402,The Walking Dead,11,177,15432,8.121,False,2010-10-31,2022-11-20,False,The Walking Dead,...,6,1,10,2,otoño,2010,11,3,invierno,2022
63174,Lucifer,6,93,13870,8.486,False,2016-01-25,2021-09-10,False,Lucifer,...,4,1,1,1,verano,2016,9,1,verano,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240693,Jokah & Tutty,1,8,0,0.000,False,2023-11-30,2023-11-30,True,Jokah & Tutty,...,2,0,11,3,invierno,2023,11,3,invierno,2023
239099,母乳酱想要喷出来,1,1,0,0.000,False,2023-03-03,2023-03-03,True,母乳酱想要喷出来,...,0,0,3,3,invierno,2023,3,3,invierno,2023
240696,Picasso,1,1,0,0.000,False,2023-11-30,2023-11-30,True,Picasso,...,0,1,11,3,invierno,2023,11,3,invierno,2023
240697,女子大生危険なアルバイト,1,1,0,0.000,False,1990-02-10,1990-02-10,True,女子大生危険なアルバイト,...,0,0,2,2,otoño,1990,2,2,otoño,1990
237566,Welcome to My World,1,5,0,0.000,False,2016-01-01,2016-01-29,True,Welcome to My World,...,1,1,1,1,verano,2016,1,1,verano,2016